<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Part 7</title>
</head>

<body>
  <div class="main w-full min-h-screen bg-zinc-900">
    <div class="form p-10 text-white">
      <form action="/create" method="post">
        <input class="block rounded-md w-full outline-none px-5 py-2 bg-zinc-800" type="text"
          placeholder="Enter the title" name="title">
        <textarea class="block rounded-md w-full outline-none px-5 py-2 mt-2 bg-zinc-800 resize-none"
          placeholder="Write your task" name="details"></textarea>
        <input class="mt-4 bg-blue-600 px-5 py-2 rounded-md" type="submit" value="Create Task">
      </form>
    </div>
    <div class="tasks flex flex-wrap gap-3 p-10">

      <% if(files.length> 0){ %>
        <% files.forEach(function(val){ %>
          <div class="task min-w-80 px-3 py-4 bg-zinc-800 rounded-md">
            <h1 class="text-white text-3xl tracking-tighter"><%= val%></h1>
            <a class="text-blue-500 inline-block mt-3" href="">Read More...</a>
          </div>
          <% }) %>
            <% } else { %>
              <h3 class="text-zinc-600">No Tasks</h3>
              <% } %>
    </div>
  </div>
  </div>
</body>

</html>